{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <script type="text/javascript" src= "{% static 'd3/d3.js' %}"></script>
    </head>
    <body>
        <div class="example" id="plane">
        </div>
        <div class="container">
            <pre>
var d=1;
svg.append("path")
    .attr("fill", "black")
    .attr("d", "M " + d*1 + " " + d*10  + " "+
                "l " + -d + " " + -d*4 + " "+
                "l " + d*2 + " " + 0 + " "+
                "l " + d*2 + " " + d*2 + " "+
                "l " + d*4 + " " + 0 + " "+
                "l " + -d*2 + " " + -d*8 + " "+
                "l " + d*2 + " " + 0 + " "+
                "l " + d*6 + " " + d*8 + " "+
                "l " + d*4 + " " + 0 + " "+
                "c " + "0 0 "+ d*4 + " " + d*2 + " " + " 0 " +d*4 +
                "l " + -d*4 + " " + 0 + " "+
                "l " + -d*6 + " " + d*8 + " "+
                "l " + -d*2 + " " + 0 + " "+
                "l " + d*2 + " " + -d*8 + " "+
                "l " + -d*4 + " " + 0 + " "+
                "l " + -d*2 + " " + d*2 + " "+
                "l " + -d*2 + " " + 0 + " "+
                "Z " 
                );                
            </pre>
        </div>
    </body>
    <script type="text/javascript">
        var width=100, height=width;
        var svg = d3.select("body div#plane")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);
        
        var d=1;
        svg.append("path")
            .attr("fill", "black")
            .attr("d", "M " + d*1 + " " + d*10  + " "+
                        "l " + -d + " " + -d*4 + " "+
                        "l " + d*2 + " " + 0 + " "+
                        "l " + d*2 + " " + d*2 + " "+
                        "l " + d*4 + " " + 0 + " "+
                        "l " + -d*2 + " " + -d*8 + " "+
                        "l " + d*2 + " " + 0 + " "+
                        "l " + d*6 + " " + d*8 + " "+
                        "l " + d*4 + " " + 0 + " "+
                        "c " + "0 0 "+ d*4 + " " + d*2 + " " + " 0 " +d*4 +
                        "l " + -d*4 + " " + 0 + " "+
                        "l " + -d*6 + " " + d*8 + " "+
                        "l " + -d*2 + " " + 0 + " "+
                        "l " + d*2 + " " + -d*8 + " "+
                        "l " + -d*4 + " " + 0 + " "+
                        "l " + -d*2 + " " + d*2 + " "+
                        "l " + -d*2 + " " + 0 + " "+
                        "Z " 
                        );
    </script>
</html>