{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">我的笔记</h1>
        <p class="lead blog-description">Python、Django、D3JS学习笔记</p>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">笔记标题</h2>
                <p class="blog-post-meta">
                    2018年10月1日
                </p>
                <p>
                    测试笔记内容：摘要
                </p>
                <hr>
                <p>测试笔记内容段落</p>
                <p>
                    笔记内容链接样式  <a href="https://v3.bootcss.com/examples/blog/#">链接</a>
                </p>
                <blockquote>
                    引用块样式, "blockquote"
                </blockquote>
                <p>标题样式
                    <h2>二级标题</h2>
                    <h3>三级标题</h3>
                </p>
                <p>内联样式
                    <pre>内联样式, "pre"</pre>
                </p>
                <p>无序列表, "ul"
                    <ul>
                        <li>列表一</li>
                        <li>列表二</li>
                    </ul>
                </p>
                <p>有序列表, "ol"
                    <ol>
                        <li>列表1</li>
                        <li>列表2</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar"></div>
    </div>
</div>

{% endblock %}