{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <button class="btn btn-block btn-primary" id="start">开始</button>
                <img id="qrcode">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <script type='text/javascript'>
        var btn = d3.select('button#start');
        var qrimg = d3.select('img#qrcode');
        var login = 0;
        btn.on("click",function(){
            d3.request('/mynote/weixin/login?eventid=start')
                .on('error', function(error){alert(error);})
                .on('load', function(xhr){
                    var t = "data:type/png; base64,"+ xhr.response;
                    qrimg.attr("src", t);
                    var tim = d3.interval(function(d){
                        console.log(d);
                        if(d >= 4000){tim.stop()};
                        var t = d3.request('/mynote/weixin/login?eventid=login')
                            .on('error', function(error){
                                console.log('error');
                            })
                            .on('load', function(xhr){
                                console.log('success');
                                console.log(xhr.response);
                                return xhr.response;
                            })
                            .get();
                            if (t.check){tim.stop()};
                },3000,8000);
                })
                .get();
            btn.attr("class", "btn btn-block btn-primary disabled");
            setTimeout("btn.attr('class', 'btn btn-block btn-primary')", 3000);
            
        });
    </script>
{% endblock %}