<!DOCTYPE html>
<!-- 加载静态文件目录 -->
{% load static %}
<!-- 申明html所使用的语言，有助于语音合成工具确定其发音，BOOTSTRAP提供的语言代码表https://www.sitepoint.com/iso-2-letter-language-codes/ -->
<html lang="zh-CN">
    <head>
        <!-- 申明IE绘制页面应该使用edge mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <!-- 申明字符编码 -->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
        <!-- 加载 jquery 插件 -->
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <!-- 引入BOOTSTRAP3 -->
        <!-- 最新版本的 Bootstrap3 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <!-- <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
        <script src="{% static '/masonry/masonry.pkgd.min.js' %}"></script>  <!-- 加载 masonry 页面布局插件, 不能在图片加载完后重新布局, 需要配件 imagesloaded 插件 -->
        <script src="{% static '/masonry/imagesloaded.pkgd.min.js' %}"></script>  <!-- 加载 imagesloaded 插件，和masonry同时使用, 提前加载图片 -->
       
        <!-- 加载D3 -->
        <script src="https://cdn.bootcss.com/d3/4.13.0/d3.min.js"></script>
        <!-- 百度网站统计代码 -->
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?4b9e0f131dc3ed28fc9e760c5f9f0725";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <title>{% block title %}淡墨青衫 - 淘宝优惠券, 小工具 {% endblock %}</title>
    </head>
    <body>
        {% include 'nav.html' %}
        {% block content %}<p>错误:未获得block content</p>{% endblock %}
    </body>
</html>