{% extends 'base.html' %}

{% block content %}
    <div class="container" id="children" width=0.8 >
        <div class="row col-md-12">
            <ul class="list-group">
                {% for item in clist %}
                    {% if item.urllink %}
                    <a class="list-group-item" href="{{ item.urllink }}">
                        {{ item.title }}
                    {% else %}
                    <a class="list-group-item" href="?urlid={{ item.urlid }}">
                        {{ item.title }}
                    {% endif %}
                        <div class="label label-default">{{ item.author }}</div>                        
                        <p style="float:right">{{ item.datestr }}</p>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}