{% extends 'base.html' %}

{% block content %}
    <div class="container examples" width=0.8>
        <ul class="list-group">
            {% for item in clist %}
                {% if item.urllink %}
                    <a class="list-group-item" href="{{ item.urllink }}" target="_blank">
                        {{ item.title }}
                {% else %}
                    <a class="list-group-item" href="?type={{ item.typeval }}&id={{ item.urlid }}" target="_blank">
                        {{ item.title }}
                {% endif %}
                    <div class="label label-default">{{ item.author }}</div>                        
                    <p style="float:right">{{ item.datestr }}</p>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}