{% extends 'base.html' %}

{% block content %}
    <div class="container examples" width=0.8>
        <ul class="list-group">
            {% for item in clist %}
                <a class="list-group-item" href="?type={{ item.typeval }}&id={{ item.urlid }}">
                    {{ item.title }}
                    <span class="label label-primary">{{ item.author }}</span>
                    <p style="float:right">{{ item.datestr }}</p>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}