{% extends 'base.html' %}

{% block content %}
<div class="container body">
    <div class="row">
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/children/'" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <H4 class="panel-title">作业</H4>
                </div>
                <div class="panel-body">
                    <p>每日作业</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/schedule/'" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <H4 class="panel-title">时间表</H4>
                </div>
                <div class="panel-body">
                    <p>夏秋季作息时间表</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/syllabus/'" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <H4 class="panel-title">课程表</H4>
                </div>
                <div class="panel-body">
                    <p>每日课程表</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/booklist/'" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <H4 class="panel-title">阅读书目</H4>
                </div>
                <div class="panel-body">
                    <p>一年级阅读书目和图书检索</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/chisearch/'" >
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <H4 class="panel-title">附近查询</H4>
                </div>
                <div class="panel-body">
                    <p>查看东郡小学附近的图书馆</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='http://ucenter.17zuoye.com/'" >
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <H4 class="panel-title">一起作业网</H4>
                </div>
                <div class="panel-body">
                    <p>一起作业网</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}