{% extends 'base.html' %}

{% block content %}
<div class="container body">
    <div class="row">
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/python/'" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <H4 class="panel-title">Python</H4>
                </div>
                <div class="panel-body">
                    <p>Python是一种解释型、面向对象、动态数据类型的高级程序设计语言。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/d3js/'" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <H4 class="panel-title">D3.js</H4>
                </div>
                <div class="panel-body">
                    <p>D3.js是一个JavaScript库，它可以通过数据来操作文档。D3可以通过使用HTML、SVG和CSS把数据鲜活形象地展现出来。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/mongodb/'" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <H4 class="panel-title">MongoDB</H4>
                </div>
                <div class="panel-body">
                    <p>MongoDB是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/rlang/'" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <H4 class="panel-title">R</H4>
                </div>
                <div class="panel-body">
                    <p>R是属于GNU系统的一个自由、免费、源代码开放的软件，它是一个用于统计计算和统计制图的优秀工具。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/bootstrap/'" >
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <H4 class="panel-title">Bootstrap</H4>
                </div>
                <div class="panel-body">
                    <p>Bootstrap是Twitter推出的一个用于前端开发的开源工具包，是基于 HTML、CSS、JAVASCRIPT 的，简洁灵活使得 Web 开发更加快捷。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/django/'" >
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <H4 class="panel-title">Django</H4>
                </div>
                <div class="panel-body">
                    <p>Django是一个开放源代码的Web应用框架，由Python写成。采用了MVC的软件设计模式，即模型M，视图V和控制器C。</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}