<div class="contianer nav" role="navigation" style="margin:1%">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">iZan</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <!-- li.active标记为活跃 -->
                     
                    <!-- <li><a href="/children/">家庭作业</a></li> -->
                    <li><a href="/">搜好券</a></li>
                    <!-- 在导航条中增加一个下拉菜单 -->
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            我的收藏
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">电影</a></li>
                            <li><a href="#">歌曲</a></li>
                            <li><a href="#">书籍</a></li>
                        </ul>
                    </li> -->
                    <li><a href="/mycase/">笔记</a></li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            小工具
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/mychild/practice/">算术题</a></li>
                            <li><a href="/mychild/practice/">算术题</a></li>
                        </ul>
                    </li> -->
                </ul>
                <!-- 导航栏中的表单, navbar-right指定对齐方式 -->
                <!-- <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form> -->
        </div>
    </nav>
</div>