{% extends 'base.html' %}
{% block content %}
<style type="text/css">
 .sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
  }
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
</style>
<div class="container">
    <div class="page-header">
        <h3>2019-07-05</h3>
    </div>
    <div class="content">
        <ul>
            <li>添加“小工具”模块。</li>
            <li>添加“企业数据查询”工具。</li>
        </ul>
    </div>
    <div class="page-header">
        <h3>2019-06-17</h3>
    </div>
    <div class="content">
        <ul>
            <li>首页导航栏添加"网站日志"模块，记录网站更新情况。</li>
        </ul>
    </div>
</div>

{% endblock %}