{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">周一</div>
                    <div class="panel panel-body">
                        <li></li>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">周二</div>
                    <div class="panel panel-body"></div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel panel-heading">周三</div>
                        <div class="panel panel-body"></div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">周四</div>
                    <div class="panel panel-body"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">周五</div>
                    <div class="panel panel-body"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}