{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        语文
                    </div>
                    <div class="panel panel-body">
                        <p>  
                        各位家长，今日语文作业：</br>
                        1，预习语文书4~5页，读《上学歌》。</br>
                        2，复习今日所学：我们的国旗是什么？我国有多少个民族？中国的全称是什么？</br>
                        3，复习常规口令。</br>
                        4，亲子阅读20分钟。</br>
                        孩子们的小学生活已经三天了，今天表现与前两天都有很大的进步，大部分孩子都能自觉遵守各项规章制度，上课积极回答老师的问题。这与各位家长在家里悉心教导是分不开的，期待孩子们变得越来越棒。</br>
                        今日表现优秀的孩子：胡家华，柳怡安，尹俊文，邱诗雅，赵彤萱，邹文皓，鄢佳炫，曹若渔，陶左左，梁梓萱，陈家齐。
                        </p>
                    </div>
                    <div class="panel panel-footer">赵老师</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        数学
                    </div>
                    <div class="panel panel-body">
                            <p>各位家长，大家好！</br>
                            今天数学课复习数字并教孩子们“1” 的书写。另外，还有好几个同学没带小字本，两个同学没准备学具盒。请家长落实！！</br>
                            今天的家庭作业：</br>
                            1、把学具盒放在家里，明天不要带过来，以后需要我会再通知。</br>
                            2、实践作业：把“1”按照图片样子写三行（另用一个小字本书写，明天收上来检查）</br>
                            书写要求：从上到下，略倾斜，写满格但不要出格，写一格空一格，写一行空一行。</br>
                            请各位家长一定监督到位，群里不要回复收到，以免消息覆盖。</p>
                    </div>
                    <div class="panel panel-footer">曹老师</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}