{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel panel-heading">
                        英语
                    </div>
                    <div class="panel panel-body">
                        <p>  
                            家长您好，</br>
                            今天布置了一起作业网上第一模块的英语作业，孩子们可以在手机或者电脑上完成，时间不长，请督促孩子在周一前完成。</br>
                            Thanks! Ms Huang!
                        </p>
                    </div>
                    <div class="panel panel-footer">黄老师</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}