{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <caption>夏秋季时间表(试行)</caption>
        <thead>
            <tr>
                <th>说明</th>
                <th>内容</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="9">上午</td>
                <td>到校</th>
                <td>8:20(周一8:15)</td>
            </tr>
            <tr>
                <td>第一节课(40分钟)</td>
                <td>8:30-9:10</td>
            </tr>
            <tr>
                <td>课间休息(10分钟)</td>
                <td>9:10-9:20</td>
            </tr>
            <tr>
                <td>眼保健操(5分钟)</td>
                <td>9:20-9:25</td>
            </tr>
            <tr>
                <td>第二节(40分钟)</td>
                <td>9:25-10:05</td>
            </tr>
            <tr>
                <td>阳光体育大课堂(25分钟)</td>
                <td>10:05-10:30</td>
            </tr>
            <tr>
                <td>第三节(40分钟)</td>
                <td>10:30-11:10</td>
            </tr>
            <tr>
                <td>课间休息(10分钟)</td>
                <td>11:10-11:20</td>
            </tr>
            <tr>
                <td>第四节(30分钟)</td>
                <td>11:20-11:50</td>
            </tr>
            <tr>
                <td>中午</td>
                <td>午睡</td>
                <td>13:10-14:00</td>
            </tr>
            <tr>
                <td rowspan="8">下午(周一、二、三、四、单周五)</td>
                <td>到校</td>
                <td>14:00</td>
            </tr>
            <tr>
                <td>阅读时光(25分钟)</td>
                <td>14:15-14:40</td>
            </tr>
            <tr>
                <td>课间休息(5分钟)</td>
                <td>14:40-14:45</td>
            </tr>
            <tr>
                <td>第五节(35分钟)</td>
                <td>14:45-15:20</td>
            </tr>
            <tr>
                <td>课间休息(10分钟)</td>
                <td>15:20-15:30</td>
            </tr>
            <tr>
                <td>眼保健操(5分钟)</td>
                <td>15:30-15:35</td>
            </tr>
            <tr>
                <td>第六节(35分钟)</td>
                <td>15:35-16:10</td>
            </tr>
            <tr>
                <td colspan="2">17:10前静校</td>
            </tr>
            <tr>
                <td rowspan="6">(双周五)(下午)</td>
                <td>到校</td>
                <td>14:00</td>
            </tr>
            <tr>
                <td>有声阅读</td>
                <td>14:00-14:25</td>
            </tr>
            <tr>
                <td>第五节(35分钟)</td>
                <td>14:25-15:00</td>
            </tr>
            <tr>
                <td>课间休息(10分钟)</td>
                <td>15:00-15:10</td>
            </tr>
            <tr>
                <td>学生社团(70分钟)</td>
                <td>15:10-16:20(15:40-15:50课间休息)</td>
            </tr>
            <tr>
                <td colspan="3">17:10前静校</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}