{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">周一<div style="float:right">上学08:15</div></div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>数学<span style="float:right">曹宇</span></p>
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>音乐<span style="float:right">谢珣</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>道德与法治<span style="float:right">曹宇</span></p>
                            <p>体育锻炼(在家进行)<span style="float:right"></span></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-footer text-right">放学15:20</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">周二<div style="float:right">上学08:20</div></div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>英语<span style="float:right">黄一丹</span></p>
                            <p>数学<span style="float:right">曹宇</span></p>
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>体育<span style="float:right">张赛</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>美术<span style="float:right">黄蓉</span></p>
                            <p>无<span style="float:right">无</span></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-footer text-right">放学15:20</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">周三<div style="float:right">上学08:20</div></div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>数学<span style="float:right">曹宇</span></p>
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>美术<span style="float:right">黄蓉</span></p>
                            <p>体育<span style="float:right">张赛</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>无<span style="float:right">无</span></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-footer text-right">放学15:20</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">周四<div style="float:right">上学08:20</div></div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>数学<span style="float:right">曹宇</span></p>
                            <p>科学<span style="float:right">向碧莲</span></p>
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>文体<span style="float:right">刘钰华</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>无<span style="float:right">无</span></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-footer text-right">放学15:20</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">周五<div style="float:right">上学08:20</div></div>
                <div class="panel panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>道德与法治<span style="float:right">曹宇</span></p>
                            <p>语文<span style="float:right">赵晓阳</span></p>
                            <p>英语<span style="float:right">黄一丹</span></p>
                            <p>音乐<span style="float:right">谢珣</span></p>
                        </li>
                        <li class="list-group-item">
                            <p>体育足球<span style="float:right">胡小松</span></p>
                            <p>少/健<span style="float:right">赵晓阳</span></p>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-footer text-right">放学16:20</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}